body {
  background: url('../img/fondo-cambiado.png') no-repeat;
  background-size: cover;
}

.marketing {

}

.intro {
  /*background-image: url('../img/colorful-triangles-background.jpg');*/
}

.info {
  /*background: url('../img/bokeh_background_by_xxclydee-d6fvd9n.png') no-repeat;*/
  /*background-size: cover;*/
}

.row-1 {
  margin-top: 30px;
  padding-top: 15px;
  color: dimgray;
}

.row-0 h1{
  color: white;
}

.row-0 .title {
  font-size: 5em;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  color: rgba(255, 255, 255, 1);
}

.row-0 h3 {
  color: rgba(255, 255, 255, 1);;
}


.row-1 h2 {
  color: rgba(230, 230, 230, 1);;
}

.content {
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 5px;
  padding: 10px;
  min-height: 120px;
}


footer {
  color: white;

}

.margin-top-xs {
  margin-top: 10px;
}

.margin-top-sm {
  margin-top: 15px;
}

.margin-top-md {
  margin-top: 20px;
}

.margin-top-lg {
  margin-top: 25px;
}

.margin-top-xl {
  margin-top: 30px;
}

hr {
  height: 3px;
}
